html, body, #cesiumContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.cesium-widget-credits {
	display:none !important;
}

.cesium-viewer-cesiumInspectorContainer {
	display: block;
	position: absolute;
	top: 500px;
	right: 10px;
}